*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-flow: wrap row;
  position: relative;
  flex-basis: 100vw;
  height: 100px;
  justify-content: space-between;
  background-image: url('Bilder/water.jfif');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 2px 8px #227a7af8;
}

.header-img-text {
  display: flex;
  padding: 0 0 0 5em;
  color: #2a3233;
  font-family: 'Supermercado One', cursive;
}

header img {
  height: 100px;
  width: 90px;
  border-radius: 15%;
}

.header-text {
  align-self: center;
  text-align: center;
}

nav {
  align-self: center;
  padding: 0 2em 0 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  display: block;
  padding: 0 0 0 1em;
  text-decoration: none;
  font-family: var(--cool);
  font-size: 1.2em;
  text-shadow: 1px 1px #242b2c;
  color: #2a3233;

}

.navigation button {
  display: none;
}

main {
  padding: 3em 1em 1em 1em;
  background-image: url('Bilder/sand.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  height: 90vh;
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 1em 1em; */
  grid-template-areas: "west-container noth-container east-container",
    "south-container south-container south-container";
  word-break: break-all;
  width: 100%;
  height: 100%;
  
}

.grid-content h1 {
  padding: 12px 0 0 3px;
  font-size: 2.3vw;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  color: var(--nice);
  text-shadow: 1px 1px;
  transition: 0.8s;
}

/* west container */
.west-container {
  grid-area: west-container;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
}

.west-container img {
  position: absolute;
}

.west-container:hover {
  transition: 0.8s;
  transform: scale(1.01);
}

.kanada {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/kanada.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.usa {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/usa.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.alaska {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/alaska.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.groenland {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/groenland.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

/* north container */
.north-container {
  grid-area: north-container;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
}

.north-container:hover {
  transition: 0.8s;
  transform: scale(1.01);
}

.north-container img {
  position: absolute;
}

.schweden {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/schweden.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.norwegen {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/norwegen.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.finnland {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/finnland.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.daenemark {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/daenemark.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

/* east container */
.east-container {
  grid-area: east-container;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
}

.east-container:hover {
  transition: 0.8s;
  transform: scale(1.01);
}

.east-container img {
  position: absolute;
}

.china {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/china.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.korea {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/korea.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.japan {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/japan.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.phil {
  width: 50%;
  height: 50%;
  display: flex;
  background-image: url('Bilder/Laender/phil.jfif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

/* south content  */
/* .south {
  grid-column: 1/4;
} */

.south-container {
  grid-area: south-container;
  display: flex;
  flex-flow: wrap column;
  flex-basis: 100%;
  height: 100%;
  padding: 2em 0 0 0;
  align-content: center;
}

.fast-lorem h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 5px 3px rgb(209, 40, 68);
  text-transform: lowercase;
}

.fast-lorem h1::first-letter {
  text-transform: uppercase;
}

.fast-lorem h3 {
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 0.1em;
}

.fast-lorem p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  padding-top: 1em;
  align-self: center;
}

.flagge {
  height: 40px;
  width: 60px;
  opacity: .8;
  padding: 0 0 3px 3px;
  align-self: flex-end;
  cursor: pointer;
}

.flagge:hover {
  opacity: 1;
  animation: shake 0.8s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.img-slider {
  display: none;
}

.south img {
  vertical-align: middle;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.buchung-container {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  padding: 5em;
}

.buchung-container label {
  padding: 0.5em 0 0 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit-button {
  width: 5em;
  align-self: center;
  margin-top: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}