/* ++++++++++++++++++++++++++
phil steht für philippinen
++++++++++++++++++++++++++ */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* var for color */
:root {
  --nice: rgb(189, 42, 111);
  --cool: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

body {
  word-break: break-all;
  background-image: url('Bilder/sand.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  flex-flow: wrap row;
  position: relative;

  justify-content: space-between;
  background-image: url('Bilder/water.jfif');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 8px #227a7af8;
}

.header-img-text {
  display: flex;
  padding: 0 0 0 5em;
  color: #2a3233;
  font-family: 'Supermercado One', cursive;
}

header img {
  max-height: 90px;
  width: auto;
  border-radius: 15%;
}

.header-text {
  padding: 0 0 0 1em;
  font-size: 2vh;
  /* https://kulturbanause.de/blog/fliessend-skalierende-texte-und-schriftgroessen-mit-css-calc/ */
  font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
  align-self: center;
  text-align: center;
}

nav {
  align-self: center;
  padding: 0 2em 0 0;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}



nav ul {

  list-style: none;
}

nav a {
  display: block;
  padding: 0 0 0 1em;
  text-decoration: none;
  font-family: var(--cool);
  font-size: 1.2em;
  text-shadow: 1px 1px #242b2c;
  color: #2a3233;

}

.navigation button {
  display: none;
}

main {
  padding: 3em 1em;
  background-color: rgba(255,255,255,.5);
  min-height: 90vh;
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "west north east"
    "south south south";
}

.grid-content h1 {
  padding: 5px 3px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  color: var(--nice);
  text-shadow: 1px 1px;
  background-color: rgba(255, 255, 255, .7);
  text-align: center;
}

/* GridContainer */
.grid-content section {
  min-height: 40vw;
}
.west-container {
  grid-area: west;
}
.north-container {
  grid-area: north;
}

.east-container {
  grid-area: east;
}
.south {
  grid-area: south;
}
.grid-content section:hover {
  transition: 0.8s;
  transform: scale(1.01);
}

.backgroundStyle > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}


/* Grid Items */
.kanada {
  background-image: url('Bilder/Laender/kanada.jfif');
}
.usa {
  background-image: url('Bilder/Laender/usa.jfif');
}
.alaska {
  background-image: url('Bilder/Laender/alaska.jfif');
}
.groenland {
  background-image: url('Bilder/Laender/groenland.jfif');
}
.schweden {
  background-image: url('Bilder/Laender/schweden.jfif');
}
.norwegen {
  background-image: url('Bilder/Laender/norwegen.jfif');
}
.finnland {
  background-image: url('Bilder/Laender/finnland.jfif');
}
.daenemark {
  background-image: url('Bilder/Laender/daenemark.jfif');
}
.china {
  background-image: url('Bilder/Laender/china.jfif');
}
.korea {
  background-image: url('Bilder/Laender/korea.jfif');
}
.japan {
  background-image: url('Bilder/Laender/japan.jfif');
}
.phil {
  background-image: url('Bilder/Laender/phil.jfif');
}
.grid-content .d-flex > div {
  flex: 1 1 50%;
}


.flagge {
  width: 60px;
  opacity: .8;
  padding: 0 0 3px 3px;
  position: absolute;
  bottom: 0;
}

.flagge:hover {
  opacity: 1;
  animation: shake 0.8s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


form {
  max-width: 960px;
  margin: auto;
}
.form-control {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-control > * {
  flex: 1 1 250px;
  margin: 15px;
}
.form-control input, .form-control textarea, .form-control select {
  padding: 0.5em;
}
.buchung-container label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
  background-color: beige;
  color: black;
  border: 1px solid;
  padding: 10px;
  display: block;
  margin: 0 0 0 15px;
}


.fast-lorem h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 5px 3px rgb(209, 40, 68);
  text-transform: lowercase;
}

.fast-lorem h1::first-letter {
  text-transform: uppercase;
}

.fast-lorem h3 {
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 0.1em;
}

.fast-lorem p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  padding-top: 1em;
  align-self: center;
}


@media screen and (max-width: 960px) {
  .grid-content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "west north" 
    "east south";
  }
}

@media screen and (max-width: 720px) {
  .grid-content {
    display: block;
  }
  .grid-content .d-flex > div {
    flex: 1 1 100%;
    min-height: 150px;
  }
}