*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-flow: wrap row;
    flex-basis: 100%;
    height: 100px;
    justify-content: space-between;
    background: grey;
}
.header-img-text{
    display: flex;

}
header img{
    height: 100px;
    width: 90px;
}
.header-text{
    align-self: center;
    text-align: center;
}
nav{
   align-self: center;
   padding: 0 2em 0 0;
}
nav ul{
    display: flex;
    list-style: none;
}
nav a{
    display: block;
    padding: 0 0 0 1em;
}
.navigation button{
    display: none;
}
@media screen and (max-width: 530px) {
    nav ul {
        display: block;
        padding-left: 0;
      }
      nav li {
        margin: 2px 0px;
        background: #222;
      }
      .navigation button {
        position: absolute;
        top: 0rem;
        right: 0.5rem;
        border: 0;
        background: white;
        color: black;
        font-size: inherit;
        display: block;
      }
      .navigation ul {
        display: none;
        margin-top: 2rem;
        margin-left: 1rem;
      }
      [aria-expanded="true"]~ul {
        display: block;
      }
}

main{
    padding: 1em 1em 1em 1em;
}
.grid-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em 2em;
    grid-template-areas: "west north east";
    grid-template-areas: "south south south";
}
.west-container{
    grid-area: west;
}
.north-container{
    grid-area: north;
}
.east-container{
    grid-area: east;
}
.south-container{
    grid-area: south;
}
.south-grid-span-col-3{
    grid-column: span 3;
}
@media screen and (max-width: 530px){
    .grid-content{
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        justify-content: center; 
      }
      .west { grid-area: 1 / 1 / 2 / 2; }
      .north { grid-area: 2 / 1 / 3 / 2; }
      .east { grid-area: 3 / 1 / 4 / 2; }
      .south { grid-area: 4 / 1 / 5 / 2; }
    }
/* content styling */
/* kanada usa alaska grönland */
.west-container{
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    height: 100%;
    text-align: center;
}
.kanada{
    display: flex;
    width: 50%;
    background-image: url('Bilder/Laender/kanada.jfif');
    transition: 0.8s;
}
.kanada:hover{
    transform: scale(1.2);
}
.usa{
    width: 50%;
    background-image: url('Bilder/Laender/usa.jfif');
}
.alaska{
    width: 50%;
    background-image: url('Bilder/Laender/alaska.jfif');
}
.groenland{
    width: 50%;
    background-image: url('Bilder/Laender/groenland.jfif');
}
.north-container{
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    height: 100%;
    text-align: center;
}
.schweden{
    display: flex;
    width: 50%;
    background-image: url('Bilder/Laender/schweden.jfif');
    transition: 0.8s;
}
.schweden:hover{
    transform: scale(1.2);
}
.norwegen{
    width: 50%;
    background-image: url('Bilder/Laender/norwegen.jfif');
}
.finnland{
    width: 50%;
    background-image: url('Bilder/Laender/finnland.jfif');
}
.daenemark{
    width: 50%;
    background-image: url('Bilder/Laender/groenland.jfif');
}
.east-container{
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    height: 100%;
    text-align: center;
}
.china{
    display: flex;
    width: 50%;
    background-image: url('Bilder/Laender/china.jfif');
    transition: 0.8s;
}
.kanada:hover{
    transform: scale(1.2);
}
.korea{
    width: 50%;
    background-image: url('Bilder/Laender/korea.jfif');
}
.japan{
    width: 50%;
    background-image: url('Bilder/Laender/japan.jfif');
}
.phil{
    width: 50%;
    background-image: url('Bilder/Laender/phil.jfif');
}
.south{
    display: flex;
    flex-flow: wrap row;
    flex-basis: 100%;
    height: 100%;
}
/* für slideshow */
.south{
    overflow: hidden;
}
.flagge{
    height: 40px;
    width: 60px;
    opacity: .8;
    align-self: flex-end;
    
}
.flagge:hover{
    opacity: 1;
    animation: shake 0.8s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.hawaii{
    height: 50%;
}
.malediven{
    height: 50%;
}
.img-slider{
    display: none;
}
.south img{
    vertical-align: middle;
}
.active {
    background-color: #717171;
  }
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
